.comments-content {
  background-color: #ececec;
  color: $grey;
  
  h3 {
    margin: 0;
    padding: 20px;
  }
  
  label {
    color: $grey;
  }
  
  button {
    font-size: 14px;
  }
  
  textarea {
    display: block;
    margin-bottom: 10px;
    resize: vertical;
    width: 100%;
  }
  
  .comment {
    padding: 20px;
  }
  
  .comment-date {
    font-size: 18px;
    font-weight: bold;
    min-height: 48px;
    padding: 10px 0;
  }
  
  .add-comment-section {
    border-top: 1px solid $dark-teal;
    padding: 20px;
  }
}

#content {
  .post {
    .comment {
      .post-content {
        .message {
          text-align: left;
        }        
      }
    }
  }
}