@import '../variables';

#content{
  
  .post {

    .author-information {
      margin: 0 0 20px 20px;
      border-radius: 10px;
      padding: 8px;
      background: rgba(255, 255, 255, 0.1);
    }

    .title {
      margin-top: 0;

      .emoticon {
        position: relative;
        top: 5px;
        font-size: 32px;
      }
    }

    .user-pic {
      width: 32px;
    }
    .post-date {
      padding: 0;
      padding-right: 10px;
      color:#FFF;
      text-align: right;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      font-size: 0.8em;
      .day {
        font-size: 28px;
        line-height: 28px;
      }

    }
    
    .post-content {
      background: rgba(0,0,0,0.6);
      color: #fff;
      padding: 20px;
      min-height: 100px;
      
      .message {
        text-align: justify;
      }
    }
    
    .post-footer {
      background: rgba(0, 0, 0, 0.2);
      border-top: 1px solid #2f88af;
      display: flex;
      justify-content: flex-end;
      
      button {
        border-radius: 0;
        border-right: 1px solid #2f88af;
        color: #fff;
        padding: 4px 10px;
       
        &:first-child{
            border-left: 1px solid #2f88af;
        }
        
        &:last-child {
          border-right: 0;
        }
      }
    }
    .post-container {
        margin-bottom: 20px;
        padding: 0;
    }
  }
  
  .link-container {
      margin: 0 0 20px 20px;
      
      .link{
        max-height: 200px;
        overflow: hidden;
        background: rgba(0,0,0,0.2);
        color: #fff;
        
        article {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .fa-question {
              font-size: 10em;
            }
        }
        
        footer {
          span {
            background: rgba(0, 0, 0, 0.2);
            border-top: 1px solid #2f88af;
            display: flex;
            justify-content: flex-end;
            padding: 10px;
          }
        }
      }
  }
}
