@import '../variables';

#content{
  
  .post {
    
    .post-content {
      height: 400px;
      overflow: hidden;
      background: rgba(0,0,0,0.2);
      color: #fff;
      margin-bottom: 20px;
    }
  }
  
  .link{
    margin-left: 20px;
    max-height: 200px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    color: #fff;
    margin-bottom: 20px;
  }
}
