@import '../variables';

body {
  background: #2f88af; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #2f88af 0%, #155478 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2f88af), color-stop(100%,#155478)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #2f88af 0%,#155478 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #2f88af 0%,#155478 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #2f88af 0%,#155478 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #2f88af 0%,#155478 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f88af', endColorstr='#155478',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
}

.login-page {
    
    
    h1 {
		  margin: 0;
    }
    
    h2 {
        color: $dark-gold;
    		font-size: 25px;
    }
	
	p {
		color: $dark-teal;
		font-size: 14px;
	}
    
    .loginContainer {
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
        padding: 43px 50px 50px 50px;
        border-radius: 3px 40px 3px 49px;
        -moz-border-radius: 3px 40px 3px 49px;
        -webkit-border-radius: 3px 40px 3px 49px;
        border: 0px solid #000000;
        background: #fff;
        margin-top: 100px;
        
        .title {
            margin-bottom: 40px;
            color: $dark-black;
        }
        
        .rightCol {
            display: inline-block;
            height: 220px;
            border-left: solid 1px lightgray;
            padding-left: 15px;
            
            h4 {
                font-size: 14px;
                color: $gray;
                margin: 0;
                padding: 0;
                border: 0;
                font-weight: inherit;
            }
            .question {
              margin-bottom: 20px;
              line-height: 1.5;
            }
            .needhelp {
              line-height: 1.5;
            }
            a {
                text-decoration: none;
                color: #006ea4;
                font-size: 12px;
            }
        }
    }
}