@import '../variables';

.login-page {
    h1 {
        color: #ffffff;
		margin: 0;
        padding: 20px;
        text-align: center;
    }
    
    h2 {
        color: $dark-gold;
        font-style: italic;
		font-size: 25px;
		margin: 15px 0;
        text-align: center;
    }
	
	p {
		color: $dark-teal;
		font-size: 20px;
		margin: 0 50px;
	}
    
    button {
        background-color: $dark-gold;
		border-radius: 10px;
        color: #fff;
        display: block;
        font-size: 20px;
		margin: 15px auto;
		padding: 20px;
    }
}