<form>
  <div class="form-group">
    <label for="post-title">Title</label>
    <input data-attr="title" type="text" class="form-control" id="post-title" placeholder="Enter Post Title">
  </div>
  <div class="form-group">
	<label>How do you feel?</label><br />
	<div class="moods">
		<label for="happy" class="active">
			<input data-attr="mood" name="mood" class="mood" type="radio" id="happy" value="1" checked="checked" /> 
			<span class="emoticon happy"></span>
		</label>
		<label for="sad">
			<input data-attr="mood" name="mood" class="mood" type="radio" id="sad" value="2" /> 
			<span class="emoticon sad"></span>
		</label>
		<label for="angry">
			<input data-attr="mood" name="mood" class="mood" type="radio" id="angry" value="3" /> 
			<span class="emoticon angry"></span>
		</label>
		<label for="indifferent">
			<input data-attr="mood" name="mood" class="mood" type="radio" id="indifferent" value="4" /> 
			<span class="emoticon indifferent"></span>
		</label>
		<label for="anxious">
			<input data-attr="mood" name="mood" class="mood" type="radio" id="anxious" value="5" /> 
			<span class="emoticon anxious"></span>
		</label>
	</div>
  </div>
  <div class="form-group">
    <label for="post-body">Post Body</label>
    <textarea rows="6" data-attr="message" type="password" class="form-control" id="post-body" placeholder="Enter Post Body"></textarea>
  </div>
  <% if (type === 'ask-a-doctor') { %>
  <div class="form-group">
    <label for="isPublic">
   		<input type="checkbox" data-attr="isPublic" name="isPublic" id="isPublic" />
    	Share this question publicly?
    </label>
  </div>
  <% } %>
  <button type="button" class="btn btn-link">Cancel</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>