<div class="col-xs-1 post-date">
	<div class="day"><%-dateObj.day%></div>
	<div><%-dateObj.month%></div>
	<div><%-dateObj.year%></div>
</div>
<div class="col-xs-11 post-container">
<div class="post-content">
    <div class="pull-right author-information">
        <img class="user-pic" alt="User Profile Picture" src="assets/blank-avatar.png" />
        <%- author %>
    </div>
    <h3 class="title"><%- title %> <span class="emoticon mood-<%- mood %>"></span></h3>
    <div class="message">
        <% if (message.length > 400) {%>
            <%= message.substr(0,800) %>... 
        <% } else { %>
            <%= message %>
        <%}%>
    </div>
</div>
<div class="post-footer">
    <button id="add-favorite">
        <span class="btn-icon fa fa-star"></span>Favorite
    </button>
    <button id="add-comment">
        <span class="btn-icon fa fa-comment"></span>Comment
    </button>
    <button id="read-post">
        <span class="btn-icon fa fa-leanpub"></span>Read Post
    </button>
</div>
</div>