<img class="user-pic" alt="User Profile Picture" />
<h2>Title</h2>
<h3>Username</h3>
<div class="emoticon">:)</div>
<p>Some text for a post</p>
<button id="add-favorite-id"><span class="btn-icon"></span>Favorite</button>
<button id="add-comment-id"><span class="btn-icon"></button>Add Comment</button>